<meta charset="utf-8" />

<!-- Llamar a una función de JavaScript dentro de HTML -->
<script>
	var sayHello = function (name) { // Se define la función sayHello en JavaScript
		alert("Hello " + name + "!");
	};
</script>
<button onclick="sayHello('world');">Click Me</button> <!-- Este botón llama a la función sayHello de JavaScript en el evento onlick (al hacer click sobre él) -->

<br />********************<br />

<!-- Escribir al DOM mediante JavaScript -->
<script>
	var sayHello2 = function (name, name2) { // Se define la función sayHello en JavaScript
		document.getElementById("result").innerHTML = "Hello " + name + "!"; // la primer sentencia de la función escribe en el DOM mediante el método innerHTML en el documento, en el elemento cuyo ID es result
		document.getElementById("result2").innerHTML = "Hello " + name2 + "!"; // la primer sentencia de la función escribe en el DOM mediante el método innerHTML en el documento, en el elemento cuyo ID es result2
	};
</script>
<button onclick="sayHello2('world', 'Ivan');">Click Me 2</button> <!-- Este botón llama a la función sayHello2 de JavaScript en el evento onlick (al hacer click sobre él) -->
<div id="result"></div> <!-- En este div con ID result se escribe el resultado de la primera sentencia de la función sayHello2 -->
<div id="result2"></div> <!-- En este div con ID result2 se escribe el resultado de la segunda sentencia de la función sayHello2 -->

<br />********************<br />

<!-- JavaScript y formularios -->
<script>
	var processTravelForm = function () { // Se define la función que procesa el formulario
		var firstName = document.myTravelForm.firstName.value; // Se declara la variable que almacena el nombre del usuario, toma el valor del elemento con nombre firstName dentro del elemento myTravleForm dentro del documento
		var lastName = document.myTravelForm.lastName.value; // Se declara la variable que almacena el apellido del usuario toma el valor del elemento con nombre lastName dentro del elemento myTravleForm dentro del documento
		var destination = document.myTravelForm.destination.value; // Se declara la variable que almacena el destino del usuario, toma el valor del elemento con nombre destination dentro del elemento myTravleForm dentro del documento
		var travelerInfo = "\
			<div>Nombre: " + firstName + "</div>\
			<div>Apellido: " + lastName + "</div>\
			<div>Destino: " + destination + "</div>\
		"; // Se declara la variable que contiene el HTML a imprimir
		document.getElementById("travelerInfo").innerHTML += travelerInfo; // Se escribe el HTML en el elemento que con ID travelerinfo dentro del documento
	}
</script>
<form name="myTravelForm"> <!-- Se abre el formulario -->
	<input name="firstName" type="text" placeholder="Nombre" /> <!-- Campo para el nombre -->
	<input name="lastName" type="text" placeholder="Apellido" /> <!-- Campo para el apellido -->
	<select name="destination"> <!-- Selección del destino -->
		<option value="México">México</option> <!-- Opción de destino -->
		<option value="Antártica">Antártica</option> <!-- Opción de destino -->
		<option value="Costa Rica">Costa Rica</option> <!-- Opción de destino -->
	</select>
	<input type="button" value="Enviar" onclick="processTravelForm();" /> <!-- Botón que al evento onclick llama a la función processTravelForm que procesa el formulario -->
</form>
<div id="travelerInfo"></div> <!-- En este DIV con ID travelerInfo se escribe el resultado de la función processTravelForm -->

<br />********************<br />

<!-- Conversor de temperatura en JavaScript -->
<script>
	var convertTemp = function () { // Se define la función para convertir la temperatura
		var temperature = Number(document.tempForm.temp.value); // Se declara la variable que recibe la temperatura a convertir y se asegura de que sea un entero usando la función nativa Number()
		var tempType; // Se declara la variable que determinará el tipo de conversión a realizar
		var result; // Se declara la variable que almacenará el resultado
		for (i = 0; i < document.tempForm.choice.length; i++) { // Este bucle iterará una vez por cada botón de radio
			if (document.tempForm.choice[i].checked) { // Cuando encuentre la opción marcada...
				tempType = document.tempForm.choice[i].value; // ... actualiozará el valor de tempType con el valor de la opción seleccionada
			};
		};
		if (tempType === "farenheit") { // Si la opción seleccionada es farenheit...
			result = (temperature * (9/5)) + 32; // ... se realiza la conversión correspondiente y se actualiza el valor del resultado
		}
		else { // De otra manera (si la opción seleccionada es celsius)...
			result = (temperature - 32) * (5/9); // ... se realiza la conversión correspondiente y se actualiza el valor del resultado
		};
		document.tempForm.resultField.value = result; // Finalmente la función escribe el resultado como valor del campo con nombre resultField
	};
</script>
<form name="tempForm"> <!-- Se abre el formulario -->
	<input name="temp" type="text" placeholder="Temperatura a convertir" /> <!-- Campo para introducir la temperatura a convertir -->
	<input name="choice" type="radio" value="farenheit" checked />Converit a Farenheit <!-- Opción para convertir a grados Farenheit -->
	<input name="choice" type="radio" value="celsius" />Converit a Celsius <!-- Opción para convertir a grados Celsius -->
	<input name="resultField" type="text" placeholder="Resultado" /> <!-- Campo para el resultado -->
	<input type="button" value="¡Convertir!" onclick="convertTemp();" /> <!-- Botón que al evento onclick llama a la función convertTemp -->
</form>

<br />********************<br />

<!-- Lista de tareas en JavaScript -->
<script>
	var i = 0; // Se declara una variable i para manejar el incremental en la lista
	var addToList = function () { // Se define la función que añade una nueva tarea a la lista
		i++; // Cada vez que se llama a la función, i se incrementa en 1
		var listItem = document.checklistForm.checklistItem.value; // Se captura el valor de campo de texto y se almacena en una variable
		var listed = "<div id='item" + i + "'><input type='checkbox' onclick='crossOut(\"item" + i + "\");' />" + listItem + "</div>" // Se declara una variable con el HTML a insertar cuando se agrega una nueva tarea a la lista, lo que incluye el nombre de la tarea y una casilla de verificación que al ser marcada llama a la función crossOut
		document.getElementById("checklist").innerHTML += listed; // Se escribe el HTML en el elemento con ID checklist
	};
	var crossOut = function (item) { // Se define la función para marcar una tarea como realizada
		document.getElementById(item).className = "checkedOff"; // La función agrega la clase checkedOff al elemento recibido como argumento
	};
</script>
<style>
	.checkedOff { /* Se crea el selector en CSS para la clase checkedOff */
		text-decoration: line-through; /* Se cruza el texto del elemento que tenga la clase */
	}
</style>
<form name="checklistForm"> <!-- Se abre el formulario -->
	<input name="checklistItem" type="text" placeholder="Nueva tarea" /> <!-- El campo de texto en el que se indica la tarea a añadir -->
	<input type="button" value="Añadir" onclick="addToList();" /> <!-- El botón llama a la función addToList en el evento onclick -->
</form>
<div id="checklist"></div> <!-- Se crea el DIV que almacenará la lista de tareas añadidas -->